body {
    background-color: #448b8be7;
    margin: 30px;
}

div.Tieude {
    background-color: gold;
    text-align: center;
}

h1 {
    color: teal;
    font-size: 50px;
}
.Tai_but {
    color: #005075e7 ;
    font-size: 20px;
}

img.bxh{
    width: 600px;
    height: 235px;
}   